<div class="home-container">

  <video class="background-video" loop autoplay muted playsinline>
    <source src="public/img/01.mp4" type="video/mp4" />
    Tu navegador no soporta la reproducción de videos.
  </video>

  <div class="content"><h1>Bienvenidos a ECom Motos</h1><p>Líderes en venta
      online</p></div></div>